*{
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.regionNav {
  display: flex;
  justify-content: flex-start;
  
  background-color: indigo;
}

.regionNav ul{
  border: red 10px solid;
  
}

li {
  list-style: none;
  margin: 0 5px;
  
  
}

img{
  height: 1000px;
  width: 1000px;
}

/* button styles */
button {
  padding: 10px;
  background-color: greenyellow;
  border-radius: 5px;
}

h1 {
  padding: 100px
}